<h1 class="page-header">List</h1>

<div id="divStudentList" class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Campaingn Name</th>
                <th>Date</th>
                <th>Clicks</th>
                <th>Conversions</th>
                <th>Impressions</th>
                <th>Affiliate Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: models">
            <tr>
                <td data-bind="text: $index() + 1"></td>
                <td data-bind="text: campaingnName"></td>
                <td data-bind="text: date"></td>
                <td data-bind="text: clicks"></td>
                <td data-bind="text: conversions"></td>
                <td data-bind="text: impressions"></td>
                <td data-bind="text: affiliateName"></td>
                <td>
                    <a Xdata-bind="click: $root.showInNewPage">Update</a>
                    <a Xdata-bind="click: $root.confirmToRemove">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        (function() {
            require(["ko", "vm.devtest.list"], function(ko, vm) {
                vm.load();
                ko.applyBindingsWithValidation(vm);
            });
        })();
    </script>

}
